{% extends 'base.html.twig' %}

{% block page_body %}

<main class="main">

    <aside class="sidebar">
        <div class="sidebar__logo"><a class="link" href="{{ path('home') }}">Ambulance</a></div>
        <nav class="sidebar__nav navigation" data-controller="navigation">

            {% if is_granted('ROLE_ADMIN') %}

                <a data-navigation-target="link" href="{{ path('admin_doctor_list') }}" class="navigation__item">Doctors</a>
                <a data-navigation-target="link" href="{{ path('admin_patient_list') }}" class="navigation__item">Patients</a>

            {% endif %}

            {% if ( is_granted('ROLE_DOCTOR') or is_granted('ROLE_COUNTER') ) %}

                <a data-navigation-target="link" href="{{ path('counter_home') }}" class="navigation__item">Counter</a>

            {% endif %}

            <a href="/logout" class="navigation__item">Log out</a>

        </nav>
    </aside>
    
    <section class="section content">{% block page_content %}{% endblock %}</div>

</main>

{% endblock %}