{% extends 'base.html.twig' %}

{% block page_body %}

<main class="main">

    <div class="sidebar">
        <div class="sidebar__logo">Ambulance</div>
        <nav class="sidebar__nav">{% block page_nav %}{% endblock %}</nav>
    </div>
    
    <div class="content">{% block page_content %}{% endblock %}</div>

</main>

{% endblock %}