{% extends 'layouts/layout.main.html.twig' %}

{% block page_content %}

    <h1>{{ test }}</h1>
    <p>This will display all the list of examinations assigned to this doctor, with forms for changing/updating the specific examination</p>

{% endblock %}