/**
* CONTENTS
*
* BASE
*
* COMPONENTS
* Sidebar
* Content 
* Form
* Navigation
*
*/

/*----------*** BASE ***----------------*/

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/*----------*** END OF BASE ***----------------*/


/*----------*** COMPONENTS ***----------------*/

/*--------------------------------*\
    #SIDEBAR
\*--------------------------------*/
.sidebar {

    float: left;
    width: 15%;
    height: 100vh;
    background-color: rgb(70, 150, 0);
}

    .sidebar__logo {

        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: center;
        font-size: 28px;
        padding: 12px 0;
    }

/*--------------------------------*\
    #CONTENT
\*--------------------------------*/
.content {

    padding: 15px 20px;
    float: right;
    width: 85%;
}

/*--------------------------------*\
    #FORM
\*--------------------------------*/
.form-container {

    margin: 50px auto;
    width: 50%;
}

/*--------------------------------*\
    #NAVIGATION
\*--------------------------------*/
.navigation__item {

    color: rgb(255, 255, 255);
    display: block;
    padding: 15px 0;
    text-decoration: none;
    text-align: center;
    transition: all .5s;
}

.navigation__item:hover,
.navigation__item:active {

    color:rgb(255, 255, 255);
}

.navigation__item--active,
.navigation__item--active:hover,
.navigation__item--active:active {

    background-color:rgb(255, 255, 255);
    color: rgb(70, 150, 0);
}



/*----------*** END OF COMPONENTS ***----------------*/



