/**
* CONTENTS
*
* BASE
*
* COMPONENTS
* Sidebar
* Content 
* Form
* Table
* Navigation
* Button
* Link
*
*/

/*----------*** BASE ***----------------*/

*,
*::after,
*::before {

    box-sizing: inherit;
}

html {

    height: 100%;
}

body {

    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: rgb(250, 250, 250);
    line-height: 1.1;
    height: 100%;
}

.main {

    height: 100%;
}


/*----------*** END OF BASE ***----------------*/


/*----------*** COMPONENTS ***----------------*/

/*--------------------------------*\
    #SIDEBAR
\*--------------------------------*/
.sidebar {

    float: left;
    width: 15%;
    height: 100%;
    background-color: rgb(70, 150, 0);
    overflow: auto;
}

    .sidebar__logo {

        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: center;
        font-size: 28px;
        padding: 12px 0;
        margin: 10px 0 20px 0;
    }

/*--------------------------------*\
    #CONTENT
\*--------------------------------*/
.content {

    padding: 15px 20px;
    float: right;
    width: 85%;
    height: 100%;
    overflow: auto;
}

/*--------------------------------*\
    #FORM
\*--------------------------------*/
.form-container {

    margin: 90px auto;
    width: 50%;
    padding: 15px 10px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px;
    background-color: rgb(255, 255, 255);
}

/*--------------------------------*\
    #TABLE
\*--------------------------------*/
.table-container {

    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px;
    padding: 8px 6px;
}

/*--------------------------------*\
    #NAVIGATION
\*--------------------------------*/
.navigation__item {

    color: rgb(255, 255, 255);
    display: block;
    padding: 15px 0;
    text-decoration: none;
    text-align: center;
}

.navigation__item:hover {

    transition: all .5s;
    background-color:rgb(250, 250, 250);
    color: rgb(70, 150, 0);
}

.navigation__item--active,
.navigation__item--active:hover,
.navigation__item--active:active {

    background-color:rgb(250, 250, 250);
    color: rgb(70, 150, 0);
}

/*--------------------------------*\
    #BUTTON
\*--------------------------------*/
.button-link {

    background-color: rgb(255, 255, 255);
    border: none;
}

.button-link--delete {

    color: rgb(199, 0, 0);
}

.button-link--update {

    color: rgb(0, 50, 190);
}

/*--------------------------------*\
    #LINK
\*--------------------------------*/

.link {

    color: rgb(255, 255, 255);
    text-decoration: none;
}

.link:hover,
.link:active,
.link:visited {

    color: rgb(255, 255, 255);
}


/*----------*** END OF COMPONENTS ***----------------*/



