{% extends 'base.html.twig' %}

{% block page_body %}

<main class="main">

    <div class="sidebar"></div>
    <div class="content">{% block page_content %}{% endblock %}</div>

</main>

{% endblock %}